.yeseva{
    font-family: 'Yeseva One', cursive;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.lobster{
    font-family: 'Lobster', cursive;
}
.manrope{
    font-family: 'Manrope', sans-serif; 
}